{% extends "masterFile.html" %}
{% block content %}
    <p>Welcome, User! This is your dashboard.</p>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
    <a href="{% url 'logout' %}" class="auth-link">Logout</a>
{% else %}
    <a href="{% url 'login' %}" class="auth-link">Login</a>
{% endif %}
 <div id="blog-container">
        <div class="header">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
            <h1>Blogs</h1>
            <a href="{% url 'blog_form' %}" class="add-blog-button">Add New Blog</a>
            <a href="{% url 'permissions' %}" class="add-blog-button">View Permissions</a>
        </div>
        <div class="blog-list">
            <table class="blog-table">
                <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Published Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for blog in blogs %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ blog.title }}</td>
                            <td>{{ blog.author_name }}</td>
                            <td>{{ blog.category }}</td>
                            <td>{{ blog.description }}</td>
                            <td>{{ blog.formatted_date }}</td>
                            <td>
                                <a href="{% url 'edit_blog' blog.id %}" class="edit-button">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
